body {
    margin:0;

}
:root{
    --boxcolor:#0ff7;
}
.screen{
    font-size:75px;
    background-color:#fff;
    justify-content:center;
    align-items:center;
    min-height:80vh; 
    max-height:80vh;
    display:flex;
    margin:0;
    perspective-origin:50% 20%;
    perspective:10em;
    overflow:hidden;
    margin:0;
}

.scene{
    position:relative;
    transform-style:preserve-3d;
   // animation:rotatescene 20s infinite linear;
    }
@keyframes rotatescene{
    to{transform:rotateY(360deg)}
    overflow:hidden;
}
.ball{
    height:1em;
    width:1em;
    border-radius:50%;
    background-color:lightblue;
    position:absolute;
    left:-0.5em;
    bottom:1em;
    //animation:rotatescene 20s infinite linear;
    animation-direction:reverse;
    background-image:radial-gradient(circle at top, lightblue, #000a);

}
.box{
    height:2em;
    width:2em;
    position:absolute;
    top:-1em;
    left:-1em;
    backface-visibility: visible;
    transform-style: preserve-3d;
}
  .front, .back, .right, .left,.top,.bottom{
    position:absolute;
    height:100%;
    width:100%;
    background-color:var(--boxcolor);
    box-shadow:inset 0 0 1em #0005;
    border:1px solid #fff2;
    box-sizing:border-box;
}
.boxshadow{
    height:100%;
    width:100%;
    background-image:radial-gradient(#000 ,10%,#0000);
}

.right{
    position:absolute;
    height:100%;
    width:100%;
    background-color:#00f5;
    transform:rotateY(90deg)translateZ(1em)!important;
}

.front{
  transform: translateZ(1em);
  background-color:#ff05;
}
.back{
  transform: rotateY(180deg) translateZ(1em);
  background-color:#0f05;
}
.left{
    position:absolute;
    height:100%;
    width:100%;
    background-color:#f005!important;
    transform: rotateY(270deg)translateZ(1em)!important;
}
.top{
    transform:translateY(-1em)rotateX(90deg)!important;
    background-color:var(--boxcolor);
}
.bottom{
    transform:rotateX(90deg)translateZ(-0.99em);
    background-color:#fff5;
    box-shadow:0px 0px 400px #000;
    backdrop-filter:none;
}
.floor{
    position:absolute;
    top:1em;
    height:15em;
    width:15em;
    background-image:
    radial-gradient(#0000,#fffa 75%),
    repeating-conic-gradient(
    from 45deg,
    #fff 0deg 90deg,
    #888 90deg 180deg) ;
    background-size:100%, 1em 1em;
    transform:translate(-50%, -50%)rotateX(90deg);
    box-shadow:inset 1px 1px 50px #fff;
}
.control{
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:#fff0;
}
