*{
    user-select: none;
}
body {
    margin:0;
    background-image: linear-gradient(to bottom right ,#8C9EFF, #7986CB);
    background-size:100vw 100vh;
    background-repeat:no-repeat ;
}
a{ 
    text-decoration:none;
}
#nav{
    position:relative ;
    height:20vh;
    width:80vw;
    background-color:#3F51B5;
    margin:30vh auto;
    display:grid;
}
.button{ 
    font-size:3vh;
    margin:1.5vh auto 0 auto;
    height:7vh;
    width:90%;
    background-color:#3D5AFE;
    color:white;
    text-align:center;
    line-height:7vh;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5),inset -22px 22px 70px rgba(0,0,0,0.3);
    border-radius:3vh;
}
.button:active{
    margin:1.5vh auto 0 auto;
    height:7vh;
    width:90%;
    background-color:#536DFE;
    color:white;
    text-align:center;
    line-height:7vh;
    transform:scale(0.95);
    box-shadow:0px 0px 0px rgba(0,0,0,0.5), inset  2px 2px rgba(0,0,0,0.5) ;
    border-radius:7vh;
}
