*{
    user-select:none;
    text-shadow:0.5px 0.5px 1px rgba(0,0,0,0.5);
    font-family: 'Open Sans','Noto Sans', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    text-decoration:none;
}

body {
    margin:0;
    background-color:var(--color3);
    background-size:100vw 100vh;
    background-repeat:no-repeat ;
    --color1:;
    --color2:;
    --color3:;
    --color4:;
    --color5:;
}
#nav{
    position:relative ;
    height:auto;
    width:390px;
    background-color:;
    margin:10vh auto;
    display:grid;
    transform-origin:50% 50%;
    transform:translate(-300px);
    animation:open 0.5s 1;
    animation-fill-mode:forwards;
    backdrop-filter:blur(50px);
    border-radius:4vh;
    box-shadow:;
    
}
@keyframes open{
    to{ transform:translate(0)}
}
.button{ 
    font-size:7vh;
    font-weight:bold;
    text-shadow: 3px 3px #000;
    line-height:9vh;
    margin:1.5vh auto 1.5vh auto;
    height:10vh;
    width:390px;
    background-color:var(--color1);
    color:white;
    text-align:center;
    box-shadow:5px 5px 0px #000;
    border-radius:0px;
    animation:;
    animation-delay:0s;
    opacity:1;
    transition:all 0.2s;
}

.button:active{
    margin:1.5vh auto 1.5vh auto;
    background-color:var(--color3);
    color:white;
    text-align:center;
    transform:scale(0.95);
    box-shadow:0px 0px 0px #000,inset -22px 22px 70px var(--color5);
    border-radius:0px;
}
#navbar{
    position:fixed;
    top:0;
    height:8vh;
    width:100vw;
    background-color:var(--color2);
    backdrop-filter:blur(50px);
    z-index:9999;
    box-shadow:0px 5px 0px #000;
    transform:translateY(-8vh);
    animation:open 0.5s 1;
    animation-fill-mode:forwards;
}
#home{
    height:6vh;
    width:10vh;
    margin:1vh;
    background-color:var(--color1);
    box-shadow:5px 5px 0px #000;
    font-size:3vh;
    font-weight:bold;
    text-shadow: 1px 1px #000;
    text-align:center;
    line-height:6vh;
    color:white;
    transition:all 0.2s;
}
#home:active{
    height:6vh;
    width:10vh;
    margin:1vh;
    text-align:center;
    line-height:6vh;
    color:white;
    background-color:var(--color3);
    transform:scale(0.95);
    box-shadow:0px 0px 0px #000;
    
}
a{
    text-decoration:none;
}
