#navbar{
    position:fixed;
    top:0;
    height:8vh;
    width:100vw;
    background-color:rgba(63, 81, 181,0.5);
    backdrop-filter:blur(50px);
}
#home{
    height:6vh;
    width:10vh;
    margin:1vh;
    background-color:#3D5AFE;
    box-shadow:2px 2px 2px rgba(0,0,0,0.5),inset -22px 22px 70px rgba(0,0,0,0.3);
    font-size:2vh;
    text-align:center;
    line-height:6vh;
    color:white;
}
a{
    text-decoration:none;
}
