body {
    margin:0;
    background-color:rgb(255,100,100);
}
#buttons{
    margin:10px;
position:relative;
bottom:-140px;
background-color:;
height:100px;
}
#vibration{
    
    display:inline-block ;
    background-color:;
    position:relative;
    left:150px;
    top:25px;
    height:50px;
    line-height:50px;
}
label{
    position:relative;
    display:inline-block ;
    background-color:;
    left:150px;
    height:;
    top:5px;
    color:white;
}
button{
position:relative;
height:60px;
width:120px;
border-radius:30px;
background-color:rgb(50,70,150);
color:white;
border-width:0px;
box-shadow:8px 8px rgba(0,0,0,1);
transition:all 0.3s;
user-select:none;
font-size:20px;
font-family:arial;
font-weight:bold;
}

button:active{
background-color:rgb(100,130,200);
color:white;
border-width:0px;
box-shadow:0px 0px 5px rgba(0,0,0,0.5);
transform:scale(0.9);
}

#container{
    margin:50px 1px;
    height:330px;
    width:330px;
    background-color:rgba(0,0,0,1);
    box-sizing:border-box;
    display:flex;
    transform-origin:0 0;
    transform:scale(1.18);
    box-shadow:8px 8px black;
    animation:entra 1s 1;
}
@keyframes entra{
    from{transform:scale(0);}  
    to{transform:scale(1.18);}
}
#etichetta{
    position:absolute;
    bottom:-60px;
    width:100%;
    height:60px;
    font-size:10px;
    text-align:center;
    background-color:;
    box-shadow:8px 8px black;
}
.label{
    height:60px;
    width:15px;
    border:0px solid black;
    box-sizing:border-box;
    display:inline-block;
    writing-mode:vertical-lr;
    box-shadow:1px 0px 8px rgba(0,0,0,0.2);
    transition: all 0.3s;
    background-color:rgb(50,70,150);
    color:white;
    user-select:none;
}
.column{
    position:relative ;
    height:330px;
    width:15px;
    display:inline-block;
    margin:0;
    border-color:red;
    border-width:2px;
    box-sizing:;
    background-color:red;
    transform-origin:50% 100%;
    transition:all 0.3s;
}
.cell{
    height:15px;
    width:100%;
    border:0.5px solid rgba(100,100,100,0.3);
    box-sizing:border-box;
    border-width: 0.5px;
    transition:all 0.3s;
    opacity:1;
    z-index:50;
}
.cellV{
    height:15px;
    width:15px;
    border:0px solid rgba(0,0,0,0.5);
    box-sizing:border-box;
    background-color:rgb(255,50,50);
    text-align:center;
    line-height:15px;
    font-size:10px;
    color:white;
    transition:all 0.3s;
}
input{
    height:500px;
}
#win{
    position:fixed;
    font-size:60px;
    top:100px;
    font-weight:bold;
    font-family:arial;
    width:100vw;
    text-align:center;
    color:white;
    text-shadow:4px 4px rgb(255,100,100);
    display:none;
    transition:all 0.5s;
}
